body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #0d0d0d, #2b2b66);
    font-family: 'Segoe UI';
    color: #fff;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

header {
    background-color: #1e1e1e;
    padding: 1.2vw;
    text-align: center;
}

header a:hover {
    color: #56ccf2;
}

header h1 {
    margin: 0;
    font-size: 2.3vw;
}

header h1 span {
    color: #56ccf2;
}

footer {
    background-color: #0d0d0d;
    color: #f2f2f2;
    padding: 2vw;
    text-align: center;
    margin-top: 4vh;
    border-top: 0.2vw solid #6600ff;
    font-size: 1vw;
}

footer p {
    margin: 0.8vw 0;
}

#btn-form{
    font-weight: 500;
    animation: parpadeo 1.5s infinite ease-in-out;
}

#btn-form:hover{
    text-decoration: underline;
}

@keyframes parpadeo {
    0% { color: #cccccc; }
    50% { color:rgb(4, 0, 255) }
    100% { color: #66099c; }
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1.5vw;
    margin-bottom: 1vw;
}

footer ul li a {
    color: #00ffff;
    font-weight: bold;
}

footer ul li a:hover {
    text-decoration: underline;
}